<div class="container">

    <header>
        <h1>The spaghetti code files</h1>
        <h3>Random recipes</h3>
    </header>

    <nav>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="#/search">Search Recipes</a></li>
            <li><a href="recipe.html">I feel lucky</a></li>
            <li><a href="weeklyMenu.html">Weekly Menu</a></li>
            <li><a href="#/toprecipes">Top recipes</a></li>
            <li><a href="#/contactus">Contact Us</a></li>
        </ul>
    </nav>

    <article>
        <weekly-menu></weekly-menu>
    </article>

    <footer>
        <p>
            <a href="home.html">Home</a> |
            <a href="#/search">Search Recipes</a> |
            <a href="recipe.html">I feel lucky</a> |
            <a href="weeklyMenu.html">Weekly Menu</a> |
            <a href="#/toprecipes">Top Recipes</a> |
            <a href="#/contactus">Contact Us</a>
        </p>
    </footer>
</div>