<article>
    <div class="box">
        <div class="box-content float-left">
            <h2><a href="#/search">Search for recipes</a></h2> Search our database for your favorite recipes.&nbsp; We have recipes for every occasion and taste.
        </div>
        <div class="box-image float-right"><img class="recipe-image" src="content/images/food/egg-clip.jpg" alt="Recipe search" /></div>
    </div>
    <div class="box">
        <div class="box-content float-right">
            <h2><a href="/recipe.html">I feel lucky</a></h2> If you are completely out of ideas, we will come up with a recipe idea for you.
        </div>
        <div class="box-image float-left"><img class="recipe-image" src="content/images/food/waffles-clip.jpg" alt="Random recipe" /></div>
    </div>
    <div class="box">
        <div class="box-content float-left">
            <h2><a href="#/weeklymenu">Weekly Menu</a></h2> Tired of deciding what to eat for dinner? Get some ideas from our weekly menu.
        </div>
        <div class="box-image float-right"><img class="recipe-image" src="content/images/food/pizza-clip.jpg" alt="Weekly menu" /></div>
    </div>
    <div class="box">
        <div class="box-content float-right">
            <h2><a href="#/toprecipes">Top Recipes</a></h2> See what recipes other users tagged as their favorites
        </div>
        <div class="box-image float-left"><img class="recipe-image" src="content/images/food/icecream-clip.jpg" alt="Top Recipes" /></div>
    </div>
</article>